In [2]:
import sqlite3
import numpy as np
import pandas as pd
from pathlib import Path
import sys

# --- Configuration ---
# Add the 'modules' directory to the system path so we can import
# (This assumes the notebook is in the root directory)
sys.path.append('modules')

# Path to the database (relative to this notebook in the root)
# We can use the default path from your new manager
DB_PATH = Path("../data/processed/database/carbon_footprint.sqlite")

# Name of the OLD table you want to inspect# ---

print(f"Attempting to connect to database at: {DB_PATH.resolve()}")

conn = None
# Ensure the DB file exists before connecting
if not DB_PATH.exists():
    print(f"\nERROR: Database file not found at {DB_PATH.resolve()}")
    print("Please ensure the path is correct and the database has been created.")
else:
    # Connect to the SQLite database
    conn = sqlite3.connect(DB_PATH.as_posix())

cursor = conn.cursor()

Attempting to connect to database at: C:\Users\felipeproenca\Documents\workspaces\personal\carbon-footprint\data\processed\database\carbon_footprint.sqlite

In [3]:
df = cursor.execute("drop table Avenida_Professor_Luciano_Gualberto_Sao_Paulo__30tons ")

In [ ]:
print("\n--- Column Names and Types (Schema) ---")
# To get column types, we can query PRAGMA table_info
info_df = pd.read_sql_query(f"PRAGMA table_info({OLD_TABLE_NAME})", conn)
print(info_df[['name', 'type', 'notnull', 'dflt_value', 'pk']].to_string())

# Use pandas to read the SQL query into a DataFrame
query = f"SELECT * FROM {OLD_TABLE_NAME} LIMIT 20"
print(f"\nExecuting query: {query}")

df = pd.read_sql_query(query, conn)

if df.empty:
    # Check if the table actually exists but is just empty
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name=?", (OLD_TABLE_NAME,))
    if cursor.fetchone():
        print(f"\nQuery successful, but the table '{OLD_TABLE_NAME}' is empty.")
    else:
            print(f"\nERROR: The table '{OLD_TABLE_NAME}' does not exist in the database.")
else:
    print(f"\n--- First {len(df)} Rows from {OLD_TABLE_NAME} ---")
    print(df.to_string()) # .to_string() gives better formatting

Attempting to connect to database at: C:\Users\felipeproenca\Documents\workspaces\personal\carbon-footprint\data\database\carbon_footprint.sqlite
Will try to select data from table: heatmap_runs

--- Column Names and Types (Schema) ---
                     name       type  notnull       dflt_value  pk
0               unique_id    INTEGER        0             None   1
1             origin_name       TEXT        1             None   0
2              origin_lat       REAL        0             None   0
3              origin_lon       REAL        0             None   0
4            destiny_name       TEXT        1             None   0
5             destiny_lat       REAL        0             None   0
6             destiny_lon       REAL        0             None   0
7   road_only_distance_km       REAL        0             None   0
8             cab_po_name       TEXT        0             None   0
9             cab_pd_name       TEXT        0             None   0
10    cab_road_o_to_po_km       REAL        0             None   0
11    cab_road_pd_to_d_km       REAL        0             None   0
12                 is_hgv       BOOL        0             None   0
13    insertion_timestamp  TIMESTAMP        1  datetime('now')   0

Executing query: SELECT * FROM heatmap_runs LIMIT 20

--- First 20 Rows from heatmap_runs ---
    unique_id                                             origin_name  origin_lat  origin_lon                      destiny_name  destiny_lat  destiny_lon  road_only_distance_km cab_po_name    cab_pd_name  cab_road_o_to_po_km  cab_road_pd_to_d_km  is_hgv  insertion_timestamp
0           1  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357            Acrelandia, R., Brazil    -9.827780   -66.883330              3462.2200      Santos         Manaus              90.5919            1284.1071     1.0  2025-11-13 17:27:29
1           2  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357          Assis Brasil, R., Brazil   -10.935672   -69.560485              3887.0316      Santos         Manaus              90.5919            1708.9187     1.0  2025-11-13 17:27:29
2           3  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357             Brasiléia, R., Brazil   -10.983470   -68.773106                    NaN        None           None                  NaN                  NaN     NaN  2025-11-13 17:27:36
3           4  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357                Bujari, R., Brazil    -9.827082   -67.948456              3605.5334      Santos         Manaus              90.5919            1427.4206     1.0  2025-11-13 17:27:36
4           5  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357              Capixaba, R., Brazil   -10.569186   -67.674444              3625.3849      Santos         Manaus              90.5919            1447.2721     1.0  2025-11-13 17:27:36
5           6  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357       Cruzeiro do Sul, R., Brazil    -7.611057   -72.682291              4219.2685      Santos         Manaus              90.5919            2041.1557     1.0  2025-11-13 17:27:36
6           7  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357        Epitaciolândia, R., Brazil   -11.024659   -68.718695              3771.1850      Santos         Manaus              90.5919            1593.0721     1.0  2025-11-13 17:27:36
7           8  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357                 Feijó, R., Brazil    -8.174970   -70.347807              3944.1290      Santos         Manaus              90.5919            1766.0161     1.0  2025-11-13 17:27:37
8           9  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357      Campos do Jordao, SP, Brazil   -22.721797   -45.565887               196.4867      Santos  São Sebastião              90.5919             183.9225     1.0  2025-11-13 17:27:37
9          10  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357         Manoel Urbano, R., Brazil    -8.834357   -69.260985              3808.5423      Santos         Manaus              90.5919            1630.4295     1.0  2025-11-13 17:27:37
10         11  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357  Marechal Thaumaturgo, R., Brazil    -8.946884   -72.789938                    NaN        None           None                  NaN                  NaN     NaN  2025-11-13 17:27:38
11         12  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357           Mâncio Lima, R., Brazil    -7.612346   -72.911204              4242.6472      Santos         Manaus              90.5919            2064.5344     1.0  2025-11-13 17:27:38
12         13  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357     Plácido de Castro, R., Brazil   -10.307027   -67.197808              3534.7980      Santos         Manaus              90.5919            1356.6852     1.0  2025-11-13 17:27:38
13         14  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357            Porto Acre, R., Brazil    -9.596969   -67.541076              3642.0661      Santos         Manaus              90.5919            1463.9533     1.0  2025-11-13 17:27:38
14         15  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357          Porto Walter, R., Brazil    -8.266139   -72.747047                    NaN        None           None                  NaN                  NaN     NaN  2025-11-13 17:27:40
15         16  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357            Rio Branco, R., Brazil    -9.989637   -67.822462              3584.6284      Santos         Manaus              90.5919            1406.5156     1.0  2025-11-13 17:27:40
16         17  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357       Rodrigues Alves, R., Brazil    -7.735876   -72.652632              4206.7334      Santos         Manaus              90.5919            2028.6205     1.0  2025-11-13 17:27:40
17         18  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357   Santa Rosa do Purus, R., Brazil    -9.439098   -70.488556                    NaN        None           None                  NaN                  NaN     NaN  2025-11-13 17:27:41
18         19  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357        Sena Madureira, R., Brazil    -9.069732   -68.654564              3722.4611      Santos         Manaus              90.5919            1544.3483     1.0  2025-11-13 17:27:41
19         20  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357      Senador Guiomard, R., Brazil   -10.146618   -67.731082              3574.5625      Santos         Manaus              90.5919            1396.4497     1.0  2025-11-13 17:27:41

In [5]:
conn.cursor().execute("ALTER TABLE routes RENAME COLUMN destiny TO destiny_name")

In [14]:
try:
    conn = sqlite3.connect(DB_PATH.as_posix())

    # SQL query to select only the columns you requested (for the O->D leg)
    # We also filter out rows where the road distance is missing.
    query = f"""
    SELECT
        origin_name AS origin,
        origin_lat,
        origin_lon,
        destiny_name AS destiny,
        destiny_lat,
        destiny_lon,
        road_only_distance_km,
        is_hgv,
        insertion_timestamp
    FROM
        {OLD_TABLE_NAME}
    """
    
    df_road_only_legs = pd.read_sql_query(query, conn)
    
    # Rename columns to match the new schema / your request
    column_rename_map = {
        'road_only_distance_km': 'distance_km'
    }
    
    df_road_only_legs = df_road_only_legs.rename(columns=column_rename_map)

    print("\n--- DataFrame Schema (df.info()) ---")
    df_road_only_legs.info()
    
    print(f"\n--- First 5 Rows of O->D Legs DataFrame ---")
    print(df_road_only_legs.head().to_string())

except Exception as e:
    print(f"\nAn unexpected error occurred: {e}")

--- DataFrame Schema (df.info()) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   origin               169 non-null    object
 1   origin_lat           169 non-null    float64
 2   origin_lon           169 non-null    float64
 3   destiny              169 non-null    object
 4   destiny_lat          165 non-null    float64
 5   destiny_lon          165 non-null    float64
 6   distance_km          144 non-null    float64
 7   is_hgv               144 non-null    float64
 8   insertion_timestamp  169 non-null    object
dtypes: float64(6), object(3)
memory usage: 12.0+ KB

--- First 5 Rows of O->D Legs DataFrame ---
                                                   origin  origin_lat  origin_lon                   destiny  destiny_lat  destiny_lon  distance_km  is_hgv  insertion_timestamp
0  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357    Acrelandia, R., Brazil    -9.827780   -66.883330    3462.2200     1.0  2025-11-13 17:27:29
1  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357  Assis Brasil, R., Brazil   -10.935672   -69.560485    3887.0316     1.0  2025-11-13 17:27:29
2  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357     Brasiléia, R., Brazil   -10.983470   -68.773106          NaN     NaN  2025-11-13 17:27:36
3  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357        Bujari, R., Brazil    -9.827082   -67.948456    3605.5334     1.0  2025-11-13 17:27:36
4  Avenida Professor Luciano Gualberto, São Paulo, Brazil  -23.558808  -46.730357      Capixaba, R., Brazil   -10.569186   -67.674444    3625.3849     1.0  2025-11-13 17:27:36

In [15]:
pd_to_d = f"""
SELECT distinct
    CONCAT("Porto de ", cab_pd_name) as origin
    , (
        CASE
            WHEN cab_pd_name = 'Manaus' THEN -3.1567
            WHEN cab_pd_name = 'Suape' THEN -8.394046412845151
            WHEN cab_pd_name = 'São Sebastião' THEN -23.808154673463267
            WHEN cab_pd_name = 'Maceió' THEN -9.677
            WHEN cab_pd_name = 'Santarém' THEN -2.422
            ELSE NULL
        END
    ) AS origin_lat
    , (
        CASE
            WHEN cab_pd_name = 'Manaus' THEN -60.0079
            WHEN cab_pd_name = 'Suape' THEN -34.97428186936652
            WHEN cab_pd_name = 'São Sebastião' THEN -45.39974141587111
            WHEN cab_pd_name = 'Maceió' THEN -35.726
            WHEN cab_pd_name = 'Santarém' THEN -54.719
            ELSE NULL
        END
    ) AS origin_lon
    , destiny_NAME as destiny
    , destiny_lat
    , destiny_lon
    , cab_road_pd_to_d_km distance_km
    , is_hgv
    , insertion_timestamp
FROM
    {OLD_TABLE_NAME}
WHERE
    cab_pd_name IS NOT NULL
"""

df_pd_to_d = pd.read_sql_query(pd_to_d, conn)


print(df_pd_to_d.head().to_string())

            origin  origin_lat  origin_lon                      destiny  destiny_lat  destiny_lon  distance_km  is_hgv  insertion_timestamp
0  Porto de Manaus     -3.1567    -60.0079       Acrelandia, R., Brazil    -9.827780   -66.883330    1284.1071       1  2025-11-13 17:27:29
1  Porto de Manaus     -3.1567    -60.0079     Assis Brasil, R., Brazil   -10.935672   -69.560485    1708.9187       1  2025-11-13 17:27:29
2  Porto de Manaus     -3.1567    -60.0079           Bujari, R., Brazil    -9.827082   -67.948456    1427.4206       1  2025-11-13 17:27:36
3  Porto de Manaus     -3.1567    -60.0079         Capixaba, R., Brazil   -10.569186   -67.674444    1447.2721       1  2025-11-13 17:27:36
4  Porto de Manaus     -3.1567    -60.0079  Cruzeiro do Sul, R., Brazil    -7.611057   -72.682291    2041.1557       1  2025-11-13 17:27:36

In [16]:
distinct_pd = f"""
SELECT distinct
    cab_pd_name
FROM
    {OLD_TABLE_NAME}
WHERE
    cab_pd_name IS NOT NULL
"""

df_distinct_pd = pd.read_sql_query(distinct_pd, conn)


print(df_distinct_pd.head().to_string())

     cab_pd_name
0         Manaus
1  São Sebastião
2         Maceió
3          Suape
4       Santarém

In [17]:
history_df = pd.concat([df_road_only_legs, df_pd_to_d], ignore_index=True)

In [18]:
display(history_df)

,origin,origin_lat,origin_lon,destiny,destiny_lat,destiny_lon,distance_km,is_hgv,insertion_timestamp
0,"Avenida Professor Luciano Gualberto, São Paulo...",-23.558808,-46.730357,"Acrelandia, R., Brazil",-9.827780,-66.883330,3462.2200,1.0,2025-11-13 17:27:29
1,"Avenida Professor Luciano Gualberto, São Paulo...",-23.558808,-46.730357,"Assis Brasil, R., Brazil",-10.935672,-69.560485,3887.0316,1.0,2025-11-13 17:27:29
2,"Avenida Professor Luciano Gualberto, São Paulo...",-23.558808,-46.730357,"Brasiléia, R., Brazil",-10.983470,-68.773106,NaN,NaN,2025-11-13 17:27:36
3,"Avenida Professor Luciano Gualberto, São Paulo...",-23.558808,-46.730357,"Bujari, R., Brazil",-9.827082,-67.948456,3605.5334,1.0,2025-11-13 17:27:36
4,"Avenida Professor Luciano Gualberto, São Paulo...",-23.558808,-46.730357,"Capixaba, R., Brazil",-10.569186,-67.674444,3625.3849,1.0,2025-11-13 17:27:36
...,...,...,...,...,...,...,...,...,...
308,Porto de Manaus,-3.156700,-60.007900,"Manicoré, AM, Brazil",-5.820228,-61.286186,462.1137,1.0,2025-11-13 17:41:32
309,Porto de Manaus,-3.156700,-60.007900,"Maués, AM, Brazil",-3.392145,-57.711967,4394.7137,1.0,2025-11-13 17:41:41
310,Porto de Santarém,-2.422000,-54.719000,"Nhamundá, AM, Brazil",-2.190039,-56.714163,1360.0909,0.0,2025-11-13 17:41:47
311,Porto de Manaus,-3.156700,-60.007900,"Novo Airao, AM, Brazil",-2.620784,-60.943784,202.7805,0.0,2025-11-13 17:42:01
312,Porto de Manaus,-3.156700,-60.007900,"Novo Aripuanã, AM, Brazil",-5.119496,-60.361708,1382.2713,0.0,2025-11-13 17:42:07

In [19]:
# history_df.to_sql('routes', conn, if_exists='append', index=False)

In [20]:
import sqlite3
import csv

# Database and table details
table_name = 'routes'
csv_file = 'routes.csv'

try:
    # Connect to SQLite database
    cursor = conn.cursor()

    # Execute SELECT query
    cursor.execute(f'SELECT * FROM {table_name}')

    # Open CSV file for writing
    with open(csv_file, 'w', newline='') as outfile:
        csv_writer = csv.writer(outfile)

        # Write header row (column names)
        header = [description[0] for description in cursor.description]
        csv_writer.writerow(header)

        # Write data rows
        for row in cursor:
            csv_writer.writerow(row)

    print(f"Data from '{table_name}' exported to '{csv_file}' successfully.")

except sqlite3.Error as e:
    print(f"SQLite error: {e}")
except IOError as e:
    print(f"File I/O error: {e}")
finally:
    if conn:
        conn.close()

Data from 'routes' exported to 'routes.csv' successfully.